<?xml version="1.0"?>
<ruleset name="Agency OS AI">
    <description>PHPCS rules for Agency OS AI plugin</description>
    <file>.</file>
    <exclude-pattern>build/</exclude-pattern>
    <exclude-pattern>node_modules/</exclude-pattern>
    <exclude-pattern>vendor/</exclude-pattern>

    <rule ref="WordPress-Core">
        <properties>
            <property name="minimum_wp_version" type="array">
                <element name="major" value="6"/>
                <element name="minor" value="4"/>
            </property>
        </properties>
    </rule>
    <rule ref="WordPress-Docs"/>
    <rule ref="WordPress-Extra"/>

    <config name="tested_vs" value="6.6"/>
    <config name="required_wp_version" value="6.4"/>
    <config name="minimum_supported_wp_version" value="6.4"/>
</ruleset>
